body,div,ul,li,img,h1,h2,h3,span,a,table,thead,tbody,tr,td{margin:0;padding:0;color:blue;list-style:none;text-decoration:none;font-family:'微软雅黑';}
.clear{clear:both;}
#content{margin:0 auto;width:1002px;}
#nav{width:1002px;}
#nav li{float:left;text-align:center;line-height:30px;}
#nav a{display:block;width:100px;}
#nav a:hover{background:#0099ff;}
#user{float:left;display:block;width:auto;}
#out{float:right;display:block;width:auto;}
.formstyle{width:300px;font-size:18px;}
#cont{width:1002px;border-collapse:collapse;}
#cont thead tr{border-bottom:1px solid blue;line-height:30px;height:30px;margin-top:10px;}
#cont tbody tr{line-height:30px;height:30px;margin-top:10px;}
.title{width:500px;}
.user{width:120px;}
.cat{width:120px;}
.date{width:120px;}
#footer{text-align:center;}
.pagination li{width:25px;height: 25px;text-align: center;line-height: 25px;float: left;font-size: 20px;border-top: #0099ff solid 1px;border-left: #0099ff solid 1px;border-bottom: #0099ff solid 1px;margin-top: 10px;margin-bottom: 15px;}
.pagination a{display: block;width: 25px;height: 25px;}
.pagination a:hover{background: #0099ff;text-decoration: none;}